/* TODO Add site wide styles */
body {
    background-color: #fafafa;
}

.post_header_image{
    max-width: 50px;
    clip-path: circle();
}

.homepage_post_image {
    width: 400px;
}

.postpage_post_image {
    max-width: 50%;
    object-fit: cover;
    padding-right: 20px;
}

.usercard_container {
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.login_page_container{
    display: flex;
    justify-content: space-evenly;
    /* width: 40rem;
    height: 40rem; */
}

.signin_form_container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.login_form_container{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    align-content: center;
    /* margin-bottom: 2rem; */
    /* position: relative;
    top: 20rem;
    left: 10rem;
    bottom: 10rem; */

}

.login_page_image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    /* width: 15rem; */
}

.login_form_header {
    font-family: Pacifico, cursive;
    font-size: 35px;
    margin-top: 5px;
}

.signup_form_header {
    font-family: Pacifico, cursive;
    font-size: 35px;
    margin-top: 40px;
}


.usercard_image {
    max-width: 100px;
    clip-path: circle();
}

.comment_image {
    max-width: 50px;
    clip-path: circle();
}

.postpage_post {
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

.postpage_post_container {
    display: flex;
    justify-content: center;
    border: 1px solid black;

}

.userpage_image {
    max-width: 200px;
    clip-path: circle();
}

.my_userpage_image {
    max-width: 200px;
    clip-path: circle();
}

.userpage_image_container {
    position: relative;
    text-align: center;
}

.my_userpage_image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}


.userpage_image_container:hover .my_userpage_image_text{
    visibility: visible;
}

.my_userpage_image:hover {
    background-color: black;
    opacity: 40%;
}

.userpage_post_image_container {
    margin: 10px;
}

.userpage_post_image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    clip-path: polygon(10% 10%,90% 10%,90% 90%,10% 90%);

}

.userpage_post_container {
    display: flex;
}


.userpage_container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
}

.userpage_header_container {
    display: flex;
    border: 1px solid black;
    width: 50%;
}

.userpage_header_text {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: space-around;
    margin-bottom: 30px;
}
